* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.img__certificado {
    background-color: #333333;
    height: 100vh;
}

.img__certificado img {
    width: 100%;
    height: 90%;
}

#up a i {
    color: black;
    background-color: white;
    position: fixed;
    right: 1%;
    bottom: 1%;
    padding: 1%;
    border-radius: 5%;
    font-size: 1.2rem;
    font-weight: bold;
}

#up a i:hover {
    color: orangered;
    background-color: #000000;
}

/* RESPONSIVE */

@media (max-width: 600px) {

    .img__certificado img {
        width: 90%;
        height: 50%;
    }
}